	
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
}

header {
	height: 100px;
	background-color:  #337ab7;
	margin-bottom:20px:
}

header #username { 
	float: right; 
	line-height: 100px; 
	font-size: 14px; 
	font-weight: bold; 
	color: #555;
}
header #username a { 
	margin-top: 50px;
    color: white;
	margin-right:30px;
}

header div a img {
	margin: 5px 5px 5px 30px;
	position: relative; 

}

li{
	list-style-type: none;
}

a#logout{
	color: black !important; 
}

.navbar{
		margin-top:10px;
		
}

.principal{
		margin-bottom: 30px;
}


.side-menu{
	margin-top:20px;
}


li.active{
	pointer-events:none;
	background-color:#337ab7;
}
li.active *{
    color:white;
	text-align:center;
	height:50%;
	
}
.icon-bar{
		background-color:#337ab7;
}

.navbar-header{
		float:left
}



h2{
		text-align:center;
}

