content{
	display:inline-block;
}

.banner{
	background-image: url("https://media.coindesk.com/uploads/2014/10/shutterstock_114252466.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
    height: 100px;

}

#titulo{
	margin-left:3em;
}

img.logo {
	height: 180px;
	margin-left: 2%;
}

h2#title-faq {
	margin-top: 60px;
	margin-left: 10%;
	font-size: 3em;
	text-shadow: 2px 2px 2px grey;
}

#mascotaLogo{
	width:10%;
	padding:0.5em;
	padding-left: 5em;
	float:left;
	clear:both;
}
	
